* {
    box-sizing: border-box;
    margin: 0;
    color: #fff;
}
.bgCover {
    background-image: url('https://images.unsplash.com/photo-1501696461415-6bd6660c6742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1568&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.pContainer {
    width: 647px;
    height: 467px;    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: sans-serif;
}
.pBox {
    width: 100%;
    height: 100%;
    opacity: .8;
    position: absolute;
    z-index: -1;
    background-color: rgb(111, 210, 218);
    border-radius: 20px;
}

.pContent {
    border: 2px solid rgb(245, 135, 186);
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playBtn {
    position: absolute;
    background: url('play-button.svg') no-repeat;
    width: 50px;
    height: 50px;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ;
}

.pContent  h1 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: normal;
    margin:0; 
}

.playBtn:hover {
    filter: grayscale(100%) sepia(100%);
}



